
*{
    text-decoration: none;
}
.body{
	background-color: #dedede;
	color: #555;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;	
}
.container {
    width: 80%;
	margin:auto;
	overflow: hidden;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

.navbar {
	background-color: #a6c7e3;
	color: #fff;
    text-align: center;
}

.navbar ul{
	padding: 10px;
	list-style: none;
}

.navbar li{
	display: inline;
    padding: 60px;
    margin: auto;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.center-info {
    margin-top: auto;
    text-align: center;
}

.name {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}


.list-item {
    padding-top: 10px; 
}
.list-item li{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    list-style: none;
    font-family: sans-serif;
    text-align: center;
}

#about-me {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}
#about-me p {
   line-height: 120%;
}

#about-me h1 {
    text-align: center;
}

/*----------My Research Page-----------------*/

#my-research {
    background-color: #a6c7e3;
    border-radius: 25px;
    border-top: ridge whitesmoke;
    padding: 20px;
    height: 230px;
}

.poster-info img{
    float: left;
    width: 300px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: center;
    line-height: 90px;
}

.research-info {
}

